body {
  font-family: "Source Sans Pro", sans-serif;
}

/* We will style main container div to span two columns*/
.MainContainer {
  padding: 4% 12px;
  margin-top: 32px;
  box-sizing: border-box; /* add a box sizing to prevent it going out of screen */

  width: 100%;
  display: flex;
  align-items: center;
}
/* End of main container styling */
/* productpreview and its children styles */
.ProductPreview {
  width: 50%;
  position: relative; /* We make it relative so we may add in display */
}
/* Product data and children styles */
.ProductData {
  width: 50%;
}
